<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="member-details-cms-sapi-app-httpListenerConfig">
        <http:listener-connection host="${http.listner.host}" port="${http.listner.port}" />
    </http:listener-config>
    <apikit:config name="member-details-cms-sapi-app-config" api="member-details-cms-sapi-app.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties" doc:id="4d91c64d-5c3f-4516-9d0a-f00c2e86a201" file="properties/${env}.yaml" />
	<configuration doc:name="Configuration" doc:id="af6ffbd8-1b54-4b4f-8b9e-d6360f6f1866" defaultErrorHandler-ref="Error_Handler" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="5068807d-9b8d-4603-87fe-453c0fe47cd9" file="secretproperties/${env}.yaml" key="${encryptionkey}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="fcce3c01-f705-4c53-8cf4-1c7e40e0535e" >
		<salesforce:basic-connection username="${sfdc.username}" password="${secure::sfdc.security.password}" securityToken="${secure::sfdc.security.token}" />
	</salesforce:sfdc-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d6b951cc-e80d-42d6-94b8-39b20851a2a4" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.username}" password="${secure::db.security.password}"/>
	</db:config>
    
	
</mule>
